In [5]:
from demo  import jdt_db
import pandas as pd
import datetime
import numpy as np

# 用户获取（3、4）

In [4]:
sql = "SELECT	id,	nickname,	user_from,user_province,province_id,	p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',	age,	gender,	group_id FROM	jdt_user WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-03-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-05-01 00:00:00'"
data1 = jdt_db(sql)
data1['time'] = pd.to_datetime(data1['时间'],format='%Y-%m-%d').dt.month
data1['用户注册方式'] = np.where(data1['p_name']=='官方直播中心','自绑定','被邀请')
data1.to_csv(r'data/data1.csv')

7.724816083908081

In [5]:
data1

,id,nickname,user_from,user_province,province_id,p_name,时间,age,gender,group_id,time,用户注册方式
0,1891072,wdmgh88,0,云南省,3738.0,官方直播中心,2022-03-01 00:00:10,0,0,1,3,自绑定
1,1891073,18240356811,0,辽宁省,NaN,刘辰远,2022-03-01 00:00:16,0,0,1,3,被邀请
2,1891074,17340075909,0,四川省,NaN,蔡龑,2022-03-01 00:12:36,0,0,1,3,被邀请
3,1891075,18629048328,0,陕西省,NaN,魏萍,2022-03-01 00:20:16,0,0,1,3,被邀请
4,1891076,19128021202,0,广东省,NaN,官方直播中心,2022-03-01 00:25:32,0,0,1,3,自绑定
...,...,...,...,...,...,...,...,...,...,...,...,...
169932,2061075,15001282468,0,None,NaN,黄小芳,2022-04-30 23:29:55,0,0,1,4,被邀请
169933,2061076,18220035320,0,None,NaN,白翔允,2022-04-30 23:37:09,0,0,1,4,被邀请
169934,2061077,18635507248,0,None,NaN,18636821443,2022-04-30 23:37:49,0,0,1,4,被邀请
169935,2061078,13887524517,0,None,NaN,高孟春,2022-04-30 23:46:23,0,0,1,4,被邀请
169936,2061079,13668456379,0,None,NaN,李春红,2022-04-30 23:51:55,0,0,1,4,被邀请

# 用户活跃（3、4）

### 用户活跃详细数据

In [6]:
sql2 = "SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at > '2022-04-01 00:00:00'   and  updated_at < '2022-05-01 00:00:00'  GROUP BY	DATE_FORMAT(created_at,'%Y-%m-%d') ,	user_id"
data2 = jdt_db(sql2)
data2['des'] = np.where(data2['updated_at']>data2['created_at'],'重复',np.where(data2['updated_at']==data2['created_at'],'新增','错误'))
data2['time'] = pd.to_datetime(data2['created_at'],format='%Y-%m-%d').dt.date

16.843095541000366

In [7]:
sql3 = "SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >= '2022-03-01 00:00:00'  AND updated_at < '2022-04-01 00:00:00'    GROUP BY	DATE_FORMAT(created_at,'%Y-%m-%d') ,user_id"
data3 = jdt_db(sql3)
data3['des'] = np.where(data3['updated_at']>data3['created_at'],'重复',np.where(data3['updated_at']==data3['created_at'],'新增','错误'))
data3['time'] = pd.to_datetime(data3['created_at'],format='%Y-%m-%d').dt.date

12.94058632850647

In [8]:
data_2_3 = pd.concat([data2,data3],axis = 0)
data_2_3.to_csv(r'data/data2.csv')

In [9]:
data_2_3

,user_id,group_id,province,city,created_at,updated_at,time,des
0,714798,3,江西省,新余市,2022-04-01 00:01:13,2022-04-01 00:01:13,2022-04-01,新增
1,598575,1,福建省,泉州市,2022-04-01 00:03:06,2022-04-01 00:03:06,2022-04-01,新增
2,835304,4,北京市,北京市,2022-04-01 00:03:48,2022-04-01 00:03:48,2022-04-01,新增
3,235847,5,广东省,中山市,2022-04-01 00:04:49,2022-04-01 00:04:49,2022-04-01,新增
4,989710,2,广东省,佛山市,2022-04-01 00:04:57,2022-04-01 00:04:57,2022-04-01,新增
...,...,...,...,...,...,...,...,...
207500,137488,4,广东省,,2022-03-31 23:50:02,2022-03-31 23:50:02,2022-03-31,新增
207501,1670118,3,广西壮族自治区,河池市,2022-03-31 23:50:07,2022-03-31 23:50:07,2022-03-31,新增
207502,136087,5,广西壮族自治区,,2022-03-31 23:50:34,2022-03-31 23:50:34,2022-03-31,新增
207503,66561,3,山西省,临汾市,2022-03-31 23:52:11,2022-03-31 23:52:11,2022-03-31,新增
207504,1929594,1,河南省,洛阳市,2022-03-31 23:57:45,2022-03-31 23:57:45,2022-03-31,新增

### 用户活跃每日总数据

In [10]:
list_time = ['2022-04-01','2022-04-02','2022-04-03','2022-04-04','2022-04-05','2022-04-06','2022-04-07','2022-04-08','2022-04-09','2022-04-10','2022-04-11','2022-04-12','2022-04-13','2022-04-14','2022-04-15','2022-04-16','2022-04-17','2022-04-18','2022-04-19','2022-04-20','2022-04-21','2022-04-22','2022-04-23','2022-04-24','2022-04-25','2022-04-26','2022-04-27','2022-04-28','2022-04-29','2022-04-30','2022-03-01','2022-03-02','2022-03-03','2022-03-04','2022-03-05','2022-03-06','2022-03-07','2022-03-08','2022-03-09','2022-03-10','2022-03-11','2022-03-12','2022-03-13','2022-03-14','2022-03-15','2022-03-16','2022-03-17','2022-03-18','2022-03-19','2022-03-20','2022-03-21','2022-03-22','2022-03-23','2022-03-24','2022-03-25','2022-03-26','2022-03-27','2022-03-28','2022-03-29','2022-03-30','2022-03-31']

data_2_3['time'] = data_2_3['time'].astype(str)
data_2_3_drop = data_2_3.drop_duplicates(subset='user_id',inplace=False)
huoyue_cishu  = {}
huoyue_renshu  = {}
for i in list_time:
    x = data_2_3[data_2_3['time'] == i]
    y = data_2_3_drop[data_2_3_drop['time'] == i]
    cishu = x['user_id'].count()
    renshu = y['user_id'].count()
    huoyue_cishu[i] = cishu
    huoyue_renshu[i] = renshu

huoyue_cishu = pd.DataFrame.from_dict(huoyue_cishu, orient='index',columns=['活跃次数'])
huoyue_renshu = pd.DataFrame.from_dict(huoyue_renshu, orient='index',columns=['活跃人数'])

huoyue = pd.concat([huoyue_cishu,huoyue_renshu],axis = 1)
huoyue['平均活跃次数'] = huoyue['活跃次数']   / huoyue['活跃人数']
huoyue.to_csv(r'data/data3.csv')

In [11]:
huoyue

            活跃次数  活跃人数    平均活跃次数
2022-04-01  5250  5250  1.000000
2022-04-02  8581  7871  1.090205
2022-04-03  8644  7531  1.147789
2022-04-04  7399  6255  1.182894
2022-04-05  5417  4408  1.228902
...          ...   ...       ...
2022-03-27  4416  1070  4.127103
2022-03-28  3841  1034  3.714700
2022-03-29  3436  1033  3.326234
2022-03-30  3070   880  3.488636
2022-03-31  3528   945  3.733333

[61 rows x 3 columns]

### 用户活跃状态分组

In [21]:
data_huuoyue_chongfu = pd.merge(data2.drop_duplicates(subset='user_id',inplace=False),data3.drop_duplicates(subset='user_id',inplace=False),on='user_id')

print('新活跃:' , data_2_3_drop['user_id'].count()-data1['id'].count()-data_huuoyue_chongfu['user_id'].count())
print('新注册:', data1['id'].count())
print('上个月活跃的:' , data_huuoyue_chongfu['user_id'].count())

新活跃: 9896
新注册: 169937
上个月活跃的: 46042

# 用户留存(3、4)

In [23]:
sql4 = "SELECT	a.id,	a.user_province,	DATE_FORMAT(FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ), '%Y-%m-%d' )  AS '日期',	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) AS '时间',	a.age,	a.gender,	a.group_id,	b.created_at,	DATE_FORMAT( b.created_at, '%Y-%m-%d' ) AS 'time' FROM	jdt_user AS a	LEFT JOIN jdt_user_logon_in AS b ON a.id = b.user_id   WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-04-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-05-01 00:00:00'"
data4 = jdt_db(sql4)

data4['时间']= pd.to_datetime(data4['时间'])
data4['created_at']= pd.to_datetime(data4['created_at'])
data4['日期']= pd.to_datetime(data4['日期'])
data4['time']= pd.to_datetime(data4['time'])

data4['相隔时间'] = data4['created_at'] - data4['时间']

data4['相隔时间'] = data4['相隔时间'].map(lambda x: x/np.timedelta64(1,'h'))

data4['留存'] = np.where(((data4['相隔时间']>= 0.05  )   & (data4['相隔时间'] <24 )),'次日留存',np.where(((data4['相隔时间']>= 24  )   & (data4['相隔时间'] <186 )),'7日留存',np.where(((data4['相隔时间']>= 186  )   & (data4['相隔时间'] <360 )),'15日留存',np.where(((data4['相隔时间']>= 360 )  & (data4['相隔时间'] <720 )),'30日留存','未知'))))

data4.to_csv(r'data/data4.csv')

8.270852327346802

In [24]:
print(data4[data4['留存'] == '次日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())
print(data4[data4['留存'] == '7日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())
print(data4[data4['留存'] == '15日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())
print(data4[data4['留存'] == '30日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())

3131
6058
5173
4245

In [14]:
data4

,id,user_province,日期,时间,age,gender,group_id,created_at,time,相隔时间,留存
0,1929595,湖北省,2022-04-01,2022-04-01 00:43:11,0,0,1,2022-04-01 00:43:12,2022-04-01,0.000278,未知
1,1929595,湖北省,2022-04-01,2022-04-01 00:43:11,0,0,1,2022-04-02 10:35:20,2022-04-02,33.869167,7日留存
2,1929596,北京市,2022-04-01,2022-04-01 01:01:38,0,0,1,2022-04-01 01:01:38,2022-04-01,0.000000,未知
3,1929596,北京市,2022-04-01,2022-04-01 01:01:38,0,0,1,2022-04-01 01:05:10,2022-04-01,0.058889,次日留存
4,1929596,北京市,2022-04-01,2022-04-01 01:01:38,0,0,1,2022-04-01 01:07:53,2022-04-01,0.104167,次日留存
...,...,...,...,...,...,...,...,...,...,...,...
162063,2058993,None,2022-04-28,2022-04-28 23:41:16,0,0,1,2022-04-28 23:41:16,2022-04-28,0.000000,未知
162064,2058994,None,2022-04-28,2022-04-28 23:43:09,0,0,1,2022-04-28 23:43:09,2022-04-28,0.000000,未知
162065,2058995,河南省,2022-04-28,2022-04-28 23:43:38,0,0,1,2022-04-28 23:43:38,2022-04-28,0.000000,未知
162066,2058995,河南省,2022-04-28,2022-04-28 23:43:38,0,0,1,2022-04-28 23:44:17,2022-04-28,0.010833,未知
162067,2058996,None,2022-04-28,2022-04-28 23:51:43,0,0,1,2022-04-28 23:51:43,2022-04-28,0.000000,未知