In [79]:
from demo  import jdt_db
import pandas as pd

# AARRR

### 用户激活

In [69]:
sql_time1 = "'2022-03-01 00:00:00'"
sql_time2 = "'2022-04-01 00:00:00'"

sql = "SELECT	a.id,	FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%i:%s' ) AS '加入时间',	a.p_name AS '父级名称',	a.gender AS '性别',	a.age AS '年龄',	a.birthday AS '生日',	a.province AS '地区编码',	a.user_province AS '注册省份',	a.user_city AS '注册城市',	b.conference_id,	b.c AS '最近参加会务时间',	b.d AS '参加会务次数' ,	g.group_id as '用户级别',	g.f as '用户最后登陆时间',g.e as '用户登录次数'  FROM	jdt_user AS a	LEFT JOIN (	SELECT		conference_id,		buyer_id,		MAX( created_at ) AS c,		count( buyer_id ) AS d 	FROM		jdt_conference_order 	WHERE		created_at >=" + sql_time1 + "	AND created_at < " + sql_time2 + " 	GROUP BY buyer_id) AS b ON b.buyer_id = a.id LEFT JOIN (SELECT user_id,group_id,MAX(created_at) as f, count(user_id) as e FROM jdt_user_logon_in WHERE created_at >= " + sql_time1 +  "	AND created_at < "+ sql_time2 +  	"GROUP BY	user_id) as g on g.user_id = a.id  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= "+ sql_time1 + "	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) <" +sql_time2
data1 = jdt_db(sql)

7.969662189483643

In [70]:
sql_time1 = "'2022-02-01 00:00:00'"
sql_time2 = "'2022-03-01 00:00:00'"

sql = "SELECT	a.id,	FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%i:%s' ) AS '加入时间',	a.p_name AS '父级名称',	a.gender AS '性别',	a.age AS '年龄',	a.birthday AS '生日',	a.province AS '地区编码',	a.user_province AS '注册省份',	a.user_city AS '注册城市',	b.conference_id,	b.c AS '最近参加会务时间',	b.d AS '参加会务次数' ,	g.group_id as '用户级别',	g.f as '用户最后登陆时间',g.e as '用户登录次数'  FROM	jdt_user AS a	LEFT JOIN (	SELECT		conference_id,		buyer_id,		MAX( created_at ) AS c,		count( buyer_id ) AS d 	FROM		jdt_conference_order 	WHERE		created_at >=" + sql_time1 + "	AND created_at < " + sql_time2 + " 	GROUP BY buyer_id) AS b ON b.buyer_id = a.id LEFT JOIN (SELECT user_id,group_id,MAX(created_at) as f, count(user_id) as e FROM jdt_user_logon_in WHERE created_at >= " + sql_time1 +  "	AND created_at < "+ sql_time2 +  	"GROUP BY	user_id) as g on g.user_id = a.id  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= "+ sql_time1 + "	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) <" +sql_time2
data2 = jdt_db(sql)

7.246073961257935

In [83]:
data = pd.concat([data1,data2],axis = 0)

In [84]:
dataframe = data

In [86]:
data.head()

,id,加入时间,父级名称,性别,年龄,生日,地区编码,注册省份,注册城市,conference_id,最近参加会务时间,参加会务次数,用户级别,用户最后登陆时间,用户登录次数
0,1891072,2022-03-01 00:00:10,官方直播中心,0,0,None,NaN,云南省,曲靖市,NaN,NaT,NaN,1.0,2022-03-29 21:26:40,4.0
1,1891073,2022-03-01 00:00:16,刘辰远,0,0,None,NaN,辽宁省,,NaN,NaT,NaN,1.0,2022-03-01 00:00:57,2.0
2,1891074,2022-03-01 00:12:36,蔡龑,0,0,None,NaN,四川省,成都市,NaN,NaT,NaN,1.0,2022-03-01 00:13:16,3.0
3,1891075,2022-03-01 00:20:16,魏萍,0,0,None,NaN,陕西省,西安市,NaN,NaT,NaN,1.0,2022-03-01 00:20:16,1.0
4,1891076,2022-03-01 00:25:32,官方直播中心,0,0,None,NaN,广东省,湛江市,NaN,NaT,NaN,1.0,2022-03-01 00:25:32,1.0

In [87]:
data.describe()

,id,性别,年龄,地区编码,conference_id,参加会务次数,用户级别,用户登录次数
count,7.571800e+04,75718.000000,7.571800e+04,132.0,29600.000000,29600.000000,73996.000000,73996.000000
mean,1.891725e+06,0.094812,3.231811e+03,0.0,113516.067669,1.793108,1.000581,1.509284
std,2.186295e+04,0.408618,7.202533e+05,0.0,1092.372245,2.429749,0.026757,1.228547
min,1.853862e+06,0.000000,0.000000e+00,0.0,110644.000000,1.000000,1.000000,1.000000
25%,1.872791e+06,0.000000,0.000000e+00,0.0,112605.000000,1.000000,1.000000,1.000000
50%,1.891724e+06,0.000000,0.000000e+00,0.0,112833.000000,1.000000,1.000000,1.000000
75%,1.910659e+06,0.000000,0.000000e+00,0.0,114631.000000,2.000000,1.000000,2.000000
max,1.929594e+06,2.000000,1.961090e+08,0.0,115650.000000,45.000000,3.000000,52.000000

In [88]:
data.isnull().any()

id               False
加入时间             False
父级名称             False
性别               False
年龄               False
生日                True
地区编码              True
注册省份              True
注册城市              True
conference_id     True
最近参加会务时间          True
参加会务次数            True
用户级别              True
用户最后登陆时间          True
用户登录次数            True
dtype: bool

In [89]:
data['地区编码'] = data['地区编码'].fillna('无')
data['注册省份'] = data['注册省份'].fillna('无')
data['注册城市'] = data['注册城市'].fillna('无')
data['用户登录次数'] = data['用户登录次数'].fillna(0)
data['用户级别'] = data['用户级别'].fillna(0)
data['conference_id'] = data['conference_id'].fillna(0)
data['参加会务次数'] = data['参加会务次数'].fillna(0)

In [90]:
data.describe()

,id,性别,年龄,conference_id,参加会务次数,用户级别,用户登录次数
count,7.571800e+04,75718.000000,7.571800e+04,75718.000000,75718.000000,75718.000000,75718.000000
mean,1.891725e+06,0.094812,3.231811e+03,44376.180076,0.700969,0.977826,1.474960
std,2.186295e+04,0.408618,7.202533e+05,55395.587325,1.753114,0.151495,1.235163
min,1.853862e+06,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.872791e+06,0.000000,0.000000e+00,0.000000,0.000000,1.000000,1.000000
50%,1.891724e+06,0.000000,0.000000e+00,0.000000,0.000000,1.000000,1.000000
75%,1.910659e+06,0.000000,0.000000e+00,112605.000000,1.000000,1.000000,2.000000
max,1.929594e+06,2.000000,1.961090e+08,115650.000000,45.000000,3.000000,52.000000

In [91]:
data.head()

,id,加入时间,父级名称,性别,年龄,生日,地区编码,注册省份,注册城市,conference_id,最近参加会务时间,参加会务次数,用户级别,用户最后登陆时间,用户登录次数
0,1891072,2022-03-01 00:00:10,官方直播中心,0,0,None,无,云南省,曲靖市,0.0,NaT,0.0,1.0,2022-03-29 21:26:40,4.0
1,1891073,2022-03-01 00:00:16,刘辰远,0,0,None,无,辽宁省,,0.0,NaT,0.0,1.0,2022-03-01 00:00:57,2.0
2,1891074,2022-03-01 00:12:36,蔡龑,0,0,None,无,四川省,成都市,0.0,NaT,0.0,1.0,2022-03-01 00:13:16,3.0
3,1891075,2022-03-01 00:20:16,魏萍,0,0,None,无,陕西省,西安市,0.0,NaT,0.0,1.0,2022-03-01 00:20:16,1.0
4,1891076,2022-03-01 00:25:32,官方直播中心,0,0,None,无,广东省,湛江市,0.0,NaT,0.0,1.0,2022-03-01 00:25:32,1.0

In [92]:
data[data['conference_id'] > 0]

,id,加入时间,父级名称,性别,年龄,生日,地区编码,注册省份,注册城市,conference_id,最近参加会务时间,参加会务次数,用户级别,用户最后登陆时间,用户登录次数
7,1891079,2022-03-01 00:49:00,15616217397,0,0,None,无,湖南省,长沙市,113053.0,2022-03-01 17:25:33,1.0,1.0,2022-03-01 00:49:00,1.0
8,1891080,2022-03-01 01:04:19,汪金惠,0,0,None,无,山东省,济南市,113521.0,2022-03-01 01:06:02,1.0,1.0,2022-03-17 22:36:19,2.0
10,1891082,2022-03-01 02:00:41,陈英,0,0,None,无,广西壮族自治区,,113521.0,2022-03-01 10:16:57,1.0,1.0,2022-03-01 02:00:41,1.0
14,1891086,2022-03-01 05:14:17,13553951267,0,0,None,无,广东省,韶关市,115125.0,2022-03-30 13:51:05,8.0,1.0,2022-03-25 20:07:25,3.0
15,1891087,2022-03-01 05:47:05,张志芳,0,0,None,无,北京市,北京市,113521.0,2022-03-01 05:47:39,1.0,1.0,2022-03-03 14:31:51,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37186,1891051,2022-02-28 22:51:43,潘静,0,0,None,无,浙江省,金华市,113521.0,2022-02-28 22:55:08,1.0,1.0,2022-02-28 22:51:43,1.0
37188,1891053,2022-02-28 22:54:37,潘静,0,0,None,无,浙江省,金华市,113521.0,2022-02-28 22:54:55,1.0,1.0,2022-02-28 22:54:38,1.0
37195,1891060,2022-02-28 23:27:06,潘静,0,0,None,无,浙江省,金华市,113521.0,2022-02-28 23:27:16,1.0,1.0,2022-02-28 23:27:06,1.0
37197,1891062,2022-02-28 23:32:16,潘静,0,0,None,无,浙江省,,113521.0,2022-02-28 23:32:26,1.0,1.0,2022-02-28 23:32:16,1.0
37199,1891064,2022-02-28 23:34:54,潘静,0,0,None,无,浙江省,,113521.0,2022-02-28 23:35:47,1.0,1.0,2022-02-28 23:34:55,1.0

In [93]:
data.to_csv(r'D:\DTy_work\analysis\2022.00.00模型\tableau\data\1.csv')